version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      k8s.io:
        patterns:
          - "k8s.io/*"
      go.opentelemetry.io:
        patterns:
          - "go.opentelemetry.io/*"
    open-pull-requests-limit: 20
  #- package-ecosystem: "pip"
   # directory: "/tools/load-generator"
   # schedule:
    #  interval: "monthly"
