apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-loadgen
  namespace: prombench-{{ .PR_NUMBER }}
data:
  config.yaml: |
    querier:
      groups:
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-loadgen-scaler
  namespace: prombench-{{ .PR_NUMBER }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loadgen-scaler
  template:
    metadata:
      namespace: prombench-{{ .PR_NUMBER }}
      labels:
        app: loadgen-scaler
    spec:
      serviceAccountName: loadgen-scaler
      containers:
      - name: prom-load-generator
        image: docker.io/prominfra/scaler:master
        imagePullPolicy: Always
        args:
        - "scale"
        - "-f"
        - "/etc/scaler/webserver.yaml"
        - "-v"
        - "PR_NUMBER:{{ .PR_NUMBER }}"        #Used to specify fake-webserver's namespace
        - "{{ .LOADGEN_SCALE_UP_REPLICAS }}"  #Scale Up replicas
        - "1"                                 #Scale Down replicas
        - "15m"                               #Sleep Interval between scaling
        volumeMounts:
        - name: webserver-config-volume
          mountPath: /etc/scaler
      volumes:
      - name: webserver-config-volume
        configMap:
          name: fake-webserver-config-for-scaler
      nodeSelector:
        node-name: nodes-{{ .PR_NUMBER }}
        isolation: none
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-loadgen-querier
  namespace: prombench-{{ .PR_NUMBER }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loadgen-querier
  template:
    metadata:
      namespace: prombench-{{ .PR_NUMBER }}
      labels:
        app: loadgen-querier
    spec:
      containers:
      - name: prom-load-generator
        image: docker.io/prominfra/load-generator:master
        imagePullPolicy: Always
        args:
        - "prombench-{{ .PR_NUMBER }}"
        - "{{ .PR_NUMBER }}"
        env:
        - name: DOMAIN_NAME
          value: "{{ .DOMAIN_NAME }}"
        - name: GOMAXPROCS
          valueFrom:
            resourceFieldRef:
              containerName: prom-load-generator
              resource: requests.cpu
        resources:
          requests:
            cpu: 200m
            memory: 100Mi
        volumeMounts:
        - name: config-volume
          mountPath: /etc/loadgen
        ports:
        - name: loadgen-port
          containerPort: 8080
      volumes:
      - name: config-volume
        configMap:
          name: prometheus-loadgen
      nodeSelector:
        node-name: nodes-{{ .PR_NUMBER }}
        isolation: none
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-loadgen-querier
  namespace: prombench-{{ .PR_NUMBER }}
  labels:
    app: loadgen-querier
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - name: prometheus
    port: 80
    targetPort: loadgen-port
  selector:
    app: loadgen-querier
