certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
cryptography==39.0.2
DateTime==4.3
idna==2.7
prometheus-client==0.4.2
pycparser==2.21
pyOpenSSL==23.0.0
pytz==2022.7.1
PyYAML==5.4
requests==2.20.1
six==1.16.0
urllib3==1.26.5
zope.interface==5.5.2
