cluster:
  name: {{ .CLUSTER_NAME }}
nodegroups:
  - nodegroupname: prometheus-{{ .PR_NUMBER }}
    noderole: {{ .NODE_ROLE }}
    disksize: 100
    subnets:
      {{ range $subnetId := split .SUBNET_IDS .SEPARATOR }}
      - {{ $subnetId }}
      {{ end }}
    instancetypes:
      - r5d.2xlarge #This machine has SSD. SSD is used to give fast-lookup to Prometheus servers being benchmarked 
    scalingconfig:
      desiredsize: 2
      maxsize: 2
      minsize: 2
    labels:
      isolation: prometheus
      node-name: prometheus-{{ .PR_NUMBER }}
  - nodegroupname: nodes-{{ .PR_NUMBER }}
    noderole: {{ .NODE_ROLE }}
    disksize: 100
    subnets:
      {{ range $subnetId := split .SUBNET_IDS .SEPARATOR }}
      - {{ $subnetId }}
      {{ end }}
    instancetypes:
      - c6g.4xlarge
    scalingconfig:
      desiredsize: 1
      maxsize: 1
      minsize: 1
    labels:
      isolation: none
      node-name: nodes-{{ .PR_NUMBER }}
