apiVersion: v1
kind: Secret
metadata:
  name: oauth-token
type: Opaque
data:
  oauth: "{{ .OAUTH_TOKEN }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: whsecret
type: Opaque
data:
  whsecret: "{{ .WH_SECRET }}"